/channel-artifacts/*.tx
/channel-artifacts/*.block
/channel-artifacts/*.json
/crypto-config/*
/ledgers
/ledgers-backup

/chaincode/approval_cc/*.log
/chaincode/device_data_cc/*.log
/chaincode/device_key_cc/*.log

/chaincode/approval_cc/node_modules
/chaincode/device_data_cc/node_modules
/chaincode/device_key_cc/node_modules
/chaincode/device_key_cc/keystore.json
